﻿body                { background: #e8e8e8; padding: 0;margin: 0; font-family: Arial,Verdana; font-size: 12px;}
.main               { width: 1250px; padding: 0 1px; background: #fff ; min-height: 2000; margin : 0 auto; border: 0}
.head               { height: 150px; background: #516482 ; width: 1250px; padding: 0; border: 0}
.logo               {height:150px;border:0;width:150px;float:left}
    .logo img       {max-width:150px;max-height:150px;border:0}
.slogan             {height:150px;border:0;width:383px;float:left}
.slogan img         {width:383px;height:150px;border:0}
.menu               { height: 50px; background: #272727; width:1250px; padding: 0; margin:0; border: 0}
.content            { width: 1250px; min-height: 1500px; background: #e8e8e8; border: 0}
.content-left       { float: left; width : 900px; min-height: 850px; background: #e8e8e8; border: 0}
.content-right      { float: right; width: 340px; min-height: 850px; background: #e8e8e8; border: 0}
.content-bottom     { height: 146px; width: 1250px; background: #d6d6d6; border: 0}
.footer             {min-height: 73px;width: 1250px; background: #d6d6d6; border: 0}
.box-pro-home       { width : 780px; height : 440px; background:#fff;margin : 20px}
.item-pro-home      {width : 155px; height: 155px; border: 0;float : left;margin: 15px; text-align:center}
.box-img-pro-home       {width : 155px; height: 155px; border:0}
.box-img-pro-home img      {max-width: 155px; max-height: 162px; border: 0}
.box-img-pro-home img:hover {border : 1px solid #f00}
.item-pro-home a {color: #0026ff; text-decoration: none}
.item-pro-home a:hover {color: #f00}
.music              {width: 880px; height:300px; border: 0 ; padding 10px; margin: 10px;background:#fff}
.music-img          { float: left ; width : 155px; height: 155px; border:0;margin: 20px}
 .music-img img      {max-width: 155px; max-height: 162px; border: 0}
.music-detail       { float: right ; width : 600px; height: 155px; border: 0;margin: 20px;background:#fff} 
.music-play        {float : right; width:800px;height:30px; border: 0}
.chart           {float :left;width: 280px;height:200px;background:#fff;margin: 20px}
.song               {float: right;width: 260px;height:30px;border:0;margin:5px;text-align:left}
    .song a         {color: #0026ff; text-decoration:none;margin:5px}
    .song a:hover {color: #f00}
.musics              {width: 880px; height:200px; border:0 ; padding 10px; margin: 10px}
.musicss              {width: 720px; height:190px;  border:0 ; padding 10px; margin: 10px}
.music-details       { float: right ; width : 450px; height: 150px;  border:0;margin: 20px} 


