﻿@{
    ViewBag.Title = "Asus";
    Layout = "~/Views/Shared/Default.cshtml";
}

<h2>LapTop</h2>
<div class ="product">
    <div class ="product-img">
        <img src="~/Images/lt4.jpg"  />
    </div>
    <div class ="product-detail">
        <h2>Asus K55VC</h2>
        <h2>Thông số kỹ thuật:  CPU	Intel, Celeron, N2830, 2.16 GHz
                                RAM	DDR3L (1 khe RAM), 2 GB
                                Đĩa cứng	HDD, 500 GB
                                Màn hình rộng	14 inch, HD (1366 x 768 pixels)
                                Cảm ứng	Không
                                Đồ họa	Intel® HD Graphics, Share
                                Đĩa quang	DVD Super Multi Double Layer
                                HĐH theo máy	Linux
                                PIN/Battery	Li-Ion 2 cell
                                Trọng lượng (Kg)	1.87
</h2>
    </div>
</div>
<div class ="product">
    <div class ="product-img">
        <img src="~/Images/lt2.jpg"  />
    </div>
    <div class ="product-detail">
        <h2>Asus G4030</h2>
        <h2>Thông số kỹ thuật:  CPU	Intel, Pentium, N3530, 2.16 GHz
                                RAM	DDR3L (1 khe RAM), 2 GB
                                Đĩa cứng	HDD, 500 GB
                                Màn hình rộng	14 inch, HD (1366 x 768 pixels)
                                Cảm ứng	Không
                                Đồ họa	Intel® HD Graphics, Share
                                Đĩa quang	DVD Super Multimedia
                                HĐH theo máy	Windows 8.1 with Bing
                                PIN/Battery	Li-Ion 4 cell
                                Trọng lượng (Kg)	2.0
</h2>
    </div>
</div>

