﻿@{
    ViewBag.Title = "Default";
    Layout = "~/Views/Shared/Default.cshtml";
}

      
<div class ="box-pro-home">
    <h2>Sản Phẩm Hot</h2>
    <div class="item-pro-home">
        <div class="box-img-pro-home">
            <a href="~/Default/p1" target="_blank"><img src="Images/htc.png" /></a>
           
        </div>
        <a href="~/Default/p1" target="_blank">HTC 8x</a>
    </div>
     <div class="item-pro-home">
        <div class="box-img-pro-home">
            <a href="~/Default/p2" target="_blank"><img src="Images/p2.jpg" /></a>
        </div>
        <a href="~/Default/p2" target="_blank">Lumia 630</a>
    </div>
     <div class="item-pro-home">
        <div class="box-img-pro-home">
            <a href="~/Default/p3" target="_blank"><img src="Images/note3.jpg" /></a>
        </div>
        <a href="~/Default/p3" target="_blank">SamSung Galaxy note 3</a>
    </div>
     <div class="item-pro-home">
        <div class="box-img-pro-home">
            <a href="~/Default/p4" target="_blank"><img src="Images/z10.png" /></a>
        </div>
        <a href="~/Default/p4" target="_blank">Blackberry Z10</a>
    </div>
     <div class="item-pro-home">
        <div class="box-img-pro-home">
            <a href="~/Default/lt1" target="_blank"><img src="Images/lt1.jpg" /></a>
        </div>
        <a href="~/Default/lt1" target="_blank">Dell Vostro 3420</a>
    </div>
     <div class="item-pro-home">
        <div class="box-img-pro-home">
            <a href="~/Default/lt2" target="_blank"><img src="Images/lt4.jpg" /></a>
        </div>
        <a href="~/Default/v4" target="_blank">Asus K55 VC</a>
    </div>
     <div class="item-pro-home">
        <div class="box-img-pro-home">
            <a href="~/Default/lt3" target="_blank"><img src="Images/lt5.jpg" /></a>
        </div>
        <a href="~/Default/lt3" target="_blank">VaiO</a>
    </div>
     <div class="item-pro-home">
        <div class="box-img-pro-home">
            <a href="~/Default/lt4" target="_blank"><img src="Images/lt6.jpg" /></a>
        </div>
        <a href="~/Default/lt4" target="_blank">Asus K55VD</a>
    </div>
</div>
<div class="box-pro-home">
    <h2>Sản Phẩm Mới</h2>
    <div class="products">
    <div class ="product-img">
        <img src="~/Images/535.jpg"  />
    </div>
    <div class ="product-details">
        <h2>Sản Phẩm : NoKia</h2>
        <h2>Tên sản phẩm : Nokia Lumia 535</h2>
        <h2>Giá Cả : 54000000</h2>
        <h2>Lượt mua : 30</h2>
    </div>
        </div>

</div>
<div class="box-pro-home">
    <h2>Khuyến Mại hôm nay ?</h2>
    <div class="products">
    <div class ="product-img">
        <img src="~/Images/lt1.jpg"  />
    </div>
    <div class ="product-details">
        <h2>Tên sản phẩm : Dell vostro 3420</h2>
        <h2>Giá Gốc : 12000000</h2>
        <h2>Khuyến mãi : 9000000</h2>
        <h2>Bảo hành : 12 tháng</h2>
    </div>
    </div>
</div>



    
             


