﻿@{
    ViewBag.Title = "Dell";
    Layout = "~/Views/Shared/Default.cshtml";
}

<h2>Dell</h2>
<div class ="product">
    <div class ="product-img">
        <img src="~/Images/lt1.jpg"  />
    </div>
    <div class ="product-detail">
        <h2>Dell Vostro 3420 </h2>
        <h2>Thông số kỹ thuật : CPU	Intel, Core i3 Haswell, 4005U, 1.70 GHz
                                RAM	DDR3L (1 khe RAM), 4 GB
                                Đĩa cứng	HDD, 500 GB
                                Màn hình rộng	15.6 inch, HD (1366 x 768 pixels)
                                Cảm ứng	Không
                                Đồ họa	Intel HD Graphics 4400, Share
                                Đĩa quang	DVD Super Multi Double Layer
                                HĐH theo máy	Linux
                                PIN/Battery	Li-Ion 4 cell
                                Trọng lượng (Kg)	2.4
            </h2>
    </div>
</div>

