﻿@{
    ViewBag.Title = "lt1";
    Layout = "~/Views/Shared/Default.cshtml";
}

<h2>Dell Vostro</h2>
<div class="product">
    <div class ="product-img">
        <img src="~/Images/lt1.jpg"  />
    </div>
    <div class ="product-detail">
        <h2>Hãng sản xuất : Dell </h2>
        <h2>Tên sản phẩm : Dell Vostro 3420</h2>
        <h2>Giá : 14000000</h2>
    </div>
</div>