﻿@{
    ViewBag.Title = "lt2";
    Layout = "~/Views/Shared/Default.cshtml";
}

<h2>Asus K55 VC</h2>
<div class="product">
    <div class ="product-img">
        <img src="~/Images/lt2.jpg"  />
    </div>
    <div class ="product-detail">
        <h2>Hãng sản xuất : Asus </h2>
        <h2>Tên sản phẩm : Asus K55 VC</h2>
        <h2>Giá : 16000000</h2>
    </div>
</div>