﻿@{
    ViewBag.Title = "lt3";
    Layout = "~/Views/Shared/Default.cshtml";
}

<h2>SoNy VaiO</h2>
<div class="product">
    <div class ="product-img">
        <img src="~/Images/lt3.jpg"  />
    </div>
    <div class ="product-detail">
        <h2>Hãng sản xuất : Sony</h2>
        <h2>Tên sản phẩm : VaiO</h2>
        <h2>Giá : 12000000</h2>
    </div>
</div>