﻿@{
    ViewBag.Title = "lt4";
    Layout = "~/Views/Shared/Default.cshtml";
}

<h2>Asus K55VC</h2>
<div class="product">
    <div class ="product-img">
        <img src="~/Images/lt4.jpg"  />
    </div>
    <div class ="product-detail">
        <h2>Hãng sản xuất : Asus </h2>
        <h2>Tên sản phẩm : Asus K55VD</h2>
        <h2>Giá : 14000000</h2>
    </div>
</div>