﻿@{
    ViewBag.Title = "lvs";
    Layout = "~/Views/Shared/Default.cshtml";
}

<h2>lvs</h2>
<div class="products">
    <div class ="product-img">
        <img src="~/Images/lvs1.jpg"  />
    </div>
    <div class ="product-detail">
         <h2>Hãng sản xuất : SanYo</h2>
        <h2>Loại sản phẩm : Lò Vi sóng </h2>
        <h2>Tên sản phẩm : Sanyo EM-G7530V</h2>
        <h2>Giá : 3000000</h2>
    </div>
    </div>
<div class="products">
    <div class ="product-img">
        <img src="~/Images/lvs2.jpg"  />
    </div>
    <div class ="product-detail">
         <h2>Hãng sản xuất : LG</h2>
        <h2>Loại sản phẩm : Lò Vi sóng </h2>
        <h2>Tên sản phẩm : LG MH6342D </h2>
        <h2>Giá : 6000000</h2>
    </div>
    </div>