﻿@{
    ViewBag.Title = "mg";
    Layout = "~/Views/Shared/Default.cshtml";
}

<h2>Máy Giặt</h2>
<div class="products">
    <div class ="product-img">
        <img src="~/Images/mg1.jpg"  />
    </div>
    <div class ="product-detail">
        <h2>Hãng sản xuất : Toshiba </h2>
        <h2>Loại sản phẩm : Máy giặt </h2>
        <h2>Tên sản phẩm : TOSHIBA GR-KD193V/SS</h2>
        <h2>Giá : 300000</h2>
    </div>
    </div>
<div class="products">
    <div class ="product-img">
        <img src="~/Images/mg2.jpg"  />
    </div>
    <div class ="product-detail">
        <h2>Hãng sản xuất : Huyn Dai </h2>
        <h2>Loại sản phẩm : Máy giặt </h2>
        <h2>Tên sản phẩm : Model NATECH2/WM80T</h2>
        <h2>Giá : 300000</h2>
    </div>
    </div>
<div class="products">
    <div class ="product-img">
        <img src="~/Images/mg3.jpg"  />
    </div>
    <div class ="product-detail">
        <h2>Hãng sản xuất : Toshiba </h2>
        <h2>Loại sản phẩm : Máy giặt</h2>
        <h2>Tên sản phẩm : TOSHIBA GR-KD195V/SS</h2>
        <h2>Giá : 300000</h2>
    </div>
    </div>
<div class="products">
    <div class ="product-img">
        <img src="~/Images/mg4.jpg"  />
    </div>
    <div class ="product-detail">
        <h2>Hãng sản xuất : Toshiba </h2>
        <h2>Loại sản phẩm : Máy giặt </h2>
        <h2>Tên sản phẩm : toshiba aw-a800sv</h2>
        <h2>Giá : 500000</h2>
    </div>
    </div>