﻿@{
    ViewBag.Title = "ml";
    Layout = "~/Views/Shared/Default.cshtml";
}

<h2>Máy Lạnh</h2>
<div class="products">
    <div class ="product-img">
        <img src="~/Images/ml1.jpg"  />
    </div>
    <div class ="product-detail">
        <h2>Hãng sản xuất: SanYo</h2>
        <h2>Tên sản phẩm : Sanyo 9BGS7</h2>
        <h2>Giá : 5.849.000</h2>
    </div>
    </div>
<div class="products">
    <div class ="products-img">
        <img src="~/Images/ml2.png"  />
    </div>
    <div class ="product-detail">
        <h2>Hãng sản xuất:  Mitsusibi</h2>
        <h2>Tên sản phẩm : Mitsubishi SR12CM5</h2>
        <h2>Giá : 8.849.000</h2>
    </div>
    </div>

