﻿@{
    ViewBag.Title = "p1";
    Layout = "~/Views/Shared/Default.cshtml";
}

<h2>HTC 8X</h2>
<div class="product">
    <div class ="product-img">
        <img src="~/Images/htc.png"  />
    </div>
    <div class ="product-detail">
       <h2>Hãng sản xuất : HTC</h2>
        <h2>Tên sản phẩm : HTC 8X</h2>
        <h2>Giá : 12000000</h2>2>
    </div>
</div>

