﻿@{
    ViewBag.Title = "p2";
    Layout = "~/Views/Shared/Default.cshtml";
}

<h2>Lumia 630</h2>
<div class="product">
    <div class ="product-img">
        <img src="~/Images/p2.jpg"  />
    </div>
    <div class ="product-detail">
        <h2>Hãng sản xuất : Nokia</h2>
        <h2>Tên sản phẩm : Lumia 630</h2>
        <h2>Giá : 4000000</h2>

    </div>
</div>
