﻿@{
    ViewBag.Title = "p3";
    Layout = "~/Views/Shared/Default.cshtml";
}

<h2>Galaxy Note 3</h2>
<div class="product">
    <div class ="product-img">
        <img src="~/Images/note3.jpg"  />
    </div>
    <div class ="product-detail">
        <h2>Hãng sản xuất : SamSung</h2>
        <h2>Tên sản phẩm : SamSung Galaxy Note 3</h2>
        <h2>Giá : 12000000</h2>
    </div>
</div>
