﻿@{
    ViewBag.Title = "p4";
    Layout = "~/Views/Shared/Default.cshtml";
}

<h2>Blackberry Z10</h2>
<div class="product">
    <div class ="product-img">
        <img src="~/Images/z10.png"  />
    </div>
    <div class ="product-detail">
        <h2>Hãng sản xuất : Blackberry</h2>
        <h2>Tên sản phẩm : Blackberry Z10</h2>
        <h2>Giá : 5000000</h2>
    </div>
</div>