﻿@{
    ViewBag.Title = "v1";
    Layout = "~/Views/Shared/Default.cshtml";
}

<h2>Iphone 6 Plus</h2>
<div class="product">
    <div class ="product-img">
        <img src="~/Images/ip6.jpg"  />
    </div>
    <div class ="product-detail">
        <h2>Hãng sản xuất : Apple</h2>
        <h2>Tên sản phẩm : Iphone 6 Plus</h2>
        <h2>Giá : 21000000</h2>
    </div>
</div>