﻿@{
    ViewBag.Title = "v2";
    Layout = "~/Views/Shared/Default.cshtml";
}

<h2>LG G3</h2>
<div class="product">
    <div class ="product-img">
        <img src="~/Images/g3.png"  />
    </div>
    <div class ="product-detail">
        <h2>Hãng sản xuất : LG</h2>
        <h2>Tên sản phẩm : LG G3</h2>
        <h2>Giá : 12000000</h2>
    </div>
</div>