﻿@{
    ViewBag.Title = "v3";
    Layout = "~/Views/Shared/Default.cshtml";
}

<h2>Nokia 1202</h2>
<div class="product">
    <div class ="product-img">
        <img src="~/Images/1202.jpg"  />
    </div>
    <div class ="product-detail">
       <h2>Hãng sản xuất : Nokia</h2>
        <h2>Tên sản phẩm : Nokia 1202</h2>
        <h2>Giá : 300000</h2>
    </div>
</div>