﻿@{
    ViewBag.Title = "v4";
    Layout = "~/Views/Shared/Default.cshtml";
}

<h2>Dell XPS</h2>
<div class="product">
    <div class ="product-img">
        <img src="~/Images/xps.jpg"  />
    </div>
    <div class ="product-detail">
        <h2>Hãng sản xuất : Dell</h2>
        <h2>Tên sản phẩm : Dell XPS</h2>
        <h2>Giá : 12000000</h2>
    </div>
</div>