﻿@{
    ViewBag.Title = "VaiO";
    Layout = "~/Views/Shared/Default.cshtml";
}

<h2>VaiO</h2>
<div class ="product">
    <div class ="product-img">
        <img src="~/Images/lt3.jpg"  />
    </div>
    <div class ="product-detail">
        <h2>Sony Vaio Rro 13</h2>
        <h2>Thông số kỹ thuật:  CPU Intel® Core™ i5-4200U 1.6GHz

                                Hệ điều hành  Window 8 pro  Kích thước màn hình 13.3” Touch screen FULL HD

                                VGA lntel graphic 4400

                                Ram  4GB 

                                Ổ cứng  256GB(SSD)

                                Battery/Weight  3cell 

                                Warranty  12 tháng - From USA – Full Box - New 100%

                                Thông số khác 

                                USB 3.0 • HDMI • Blutooth 4.0 • Headphone Microphone input • Wireless Type: 802.11n • SD Thẻ nhớ SD • Touchpad Multi

</h2>
    </div>
</div>

