﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
        <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
</head>
<body>
    <div class="main">
        <div class="head">
            <div class="logo">
                <a href="http://localhost:44230/" target="_blank"><img src="~/Images/logo.png" /></a>
            </div>
            <div class="slogan">
            <a href="http://localhost:44230/" target="_blank"><img src="~/Images/slogan.gif" /></a>
            </div>
        </div>
        <div class="menu">
            <ul class="menu">
                <li><a href="http://localhost:44230/">Home</a></li>
                <li><a href="#">Đồ Điện Tử</a>
                    <ul class="submenu">
                        <li><a href="~/Default/ml">Máy Lạnh</a></li>
                        <li><a href="~/Default/mg">Máy Giặt</a></li>
                        <li><a href="~/Default/lvs">Lò Vi Sóng</a></li>
                    </ul>
                </li>
                <li class="active"><a href="#s2">LapTop</a>
                    <ul class="submenu">
                        <li><a href="~/Default/Dell">Dell</a></li>
                        <li><a href="~/Default/VaiO">VaiO</a></li>
                        <li><a href="~/Default/Asus">Asus</a></li>
                        </ul>
                </li>
                <li><a href="#">Điện Thoại</a>
                    <ul class="submenu">
                        <li><a href="~/Default/p1">HTC</a></li>
                        <li><a href="~/Default/p4">Blackberry</a></li>
                        <li><a href="~/Default/p2">Nokia</a></li>
                        <li><a href="~/Default/p3">SamSung</a></li>
                    </ul>
                </li>
                <li><a href="#">Đăng Ký</a></li>
                <li><a href="#">Giỏ Hàng</a></li>
            </ul>
        </div>
        <div class="content">
            <div class="content-left">
            @RenderBody()
            </div>
            <div class="content-right">
                <div class="chart">
                    <h2>Danh sách sản phẩm Điện Thoại được mua nhiều nhất</h2>
                    <div class="phone">
                        <a href="~/Default/p1" target="_blank">1.HTC 8x</a>
                    </div>
                    <div class="phone"><a href="~/Default/p2" target="_blank">2.Nokia 1202</a>
                    </div>
                    <div class="phone">
                        <a href="~/Default/p3" target="_blank">3.Galaxy note 3</a>
                    </div>
                </div>
                <div class="chart">
                    <h2>Các sản phẩm Laptop ưa dùng</h2>
                    <div class="laptop">
                        <a href="~/Default/lt1" target="_blank">1.Dell Vostro 3420</a>
                    </div>
                    <div class="laptop">
                        <a href="~/Default/lt2" target="_blank">2.Asus K55 VC</a>
                    </div>
                
            </div>
        </div>
        </div>
    </div>
</body>
</html>
